body {
  background-color: #b6dcf0;
}

.main {
  background-color: white;
  width: 800px;
  margin: 20px auto;
}
.container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  font-size: 20px;
  width: 60%;
  border: none;
  border-radius: 10px;
  color: #1a6dc1;
}
.add {
  background-color: #fee987;
  margin-top: 8px;
}
.delete {
  background-color: #f0a0a1;
  margin-bottom: 8px;
}

h1 {
  color: #1a6dc1;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  border-radius: 10px;
}

.crossed {
  text-decoration: line-through 2px #e93f33;
  background-color: #c1c3c4;
}

li, ul {
  list-style-type: none;
  padding: 4px;
  font-size: 20px;
  width: 70%;
  margin: auto;
}